/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------*/
/*Body*/
/*---------------*/
body {
	width: 100%;
	background-color: #EBE8E4;
	font-family: "HelveticaNeue-Light" 
	             "Helvetica Neue", Helvetica, 
	              Arial, "Lucida Grande", sans-serif;
	color: #222;
}

/*---------------*/
/*Nav Bar*/
/*---------------*/
nav {
	display: block;
	margin-top: 25px;
	margin-bottom: 40px;
}

nav a {
	text-decoration: none;
}

nav a#brand {
	line-height: 54px;
	/*display: block;*/
}

nav ul {
	float: right;
}

nav ul li{
	display: inline-block;
	color: #aaa;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

nav ul li a {
	padding: 0 24px;
	line-height: 57px;
}

nav ul li a:link {
	color: #aaa;
}

nav ul li a:visited {
	color: #aaa;
}

nav ul li:hover {
	background-color: rgb(40, 44, 47);
	border-radius: 4px;
}

nav  ul li:hover a {
	color: rgb( 255, 255, 255);
} 

.clearfix {
	clear: both;
}

/*---------------*/
/*Panels*/
/*---------------*/

.float-r {
 float: right;
}

.jumbotron {
 
}

.panel {
	display: block;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 10px;
	width: 33%;
	border: 1px solid #000;
	height: 125px;
}



/*---------------*/
/*Footer*/
/*---------------*/

footer hr {
	width: 75%;
}

#copyright {
	text-align: center
}

/*---------------*/
/*Text Formatting*/
/*---------------*/

.center-text {
	text-align: center;
}

.font-weight {
	font-weight: 700;
}

/*---------------*/
/*Positioning*/
/*---------------*/

.center-object {
	margin: 0 auto;
}